verenigingen/schemas/pain.008.001.08.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08"
           xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.08"
           elementFormDefault="qualified">

  <!-- Basic XSD schema for pain.008.001.08 validation -->
  <!-- NOTE: This is a minimal schema for basic validation -->
  <!-- For production, download the complete official schema from ISO 20022 -->

  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV08"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="CustomerDirectDebitInitiationV08">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeaderSDD"/>
      <xs:element name="PmtInf" type="PaymentInstructionInformationSDD"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GroupHeaderSDD">
    <xs:sequence>
      <xs:element name="MsgId" type="xs:string"/>
      <xs:element name="CreDtTm" type="xs:dateTime"/>
      <xs:element name="NbOfTxs" type="xs:string"/>
      <xs:element name="CtrlSum" type="xs:decimal" minOccurs="0"/>
      <xs:element name="InitgPty" type="PartyIdentificationSEPA1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentInstructionInformationSDD">
    <xs:sequence>
      <xs:element name="PmtInfId" type="xs:string"/>
      <xs:element name="PmtMtd" type="xs:string" fixed="DD"/>
      <xs:element name="BtchBookg" type="xs:boolean" minOccurs="0"/>
      <xs:element name="NbOfTxs" type="xs:string"/>
      <xs:element name="CtrlSum" type="xs:decimal" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformationSDD"/>
      <xs:element name="ReqdColltnDt" type="xs:date"/>
      <xs:element name="Cdtr" type="PartyIdentificationSEPA5"/>
      <xs:element name="CdtrAcct" type="CashAccountSEPA1"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentificationSEPA3"/>
      <xs:element name="CdtrSchmeId" type="PartyIdentificationSEPA3"/>
      <xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformationSDD" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Simplified type definitions for basic validation -->
  <xs:complexType name="PartyIdentificationSEPA1">
    <xs:sequence>
      <xs:element name="Nm" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyIdentificationSEPA5">
    <xs:sequence>
      <xs:element name="Nm" type="xs:string"/>
      <xs:element name="PstlAdr" type="PostalAddressSEPA" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyIdentificationSEPA3">
    <xs:sequence>
      <xs:element name="Id" type="PartySEPA2"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PostalAddressSEPA">
    <xs:sequence>
      <xs:element name="Ctry" type="xs:string" minOccurs="0"/>
      <xs:element name="AdrLine" type="xs:string" minOccurs="0" maxOccurs="2"/>
      <xs:element name="PstCd" type="xs:string" minOccurs="0"/>
      <xs:element name="TwnNm" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartySEPA2">
    <xs:sequence>
      <xs:element name="PrvtId" type="PersonIdentificationSEPA1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PersonIdentificationSEPA1">
    <xs:sequence>
      <xs:element name="Othr" type="RestrictedPersonIdentificationSEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RestrictedPersonIdentificationSEPA">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="SchmeNm" type="RestrictedPersonIdentificationSchemeNameSEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RestrictedPersonIdentificationSchemeNameSEPA">
    <xs:sequence>
      <xs:element name="Prtry" type="xs:string" fixed="SEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentTypeInformationSDD">
    <xs:sequence>
      <xs:element name="SvcLvl" type="ServiceLevelSEPA"/>
      <xs:element name="LclInstrm" type="LocalInstrumentSEPA"/>
      <xs:element name="SeqTp" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceLevelSEPA">
    <xs:sequence>
      <xs:element name="Cd" type="xs:string" fixed="SEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LocalInstrumentSEPA">
    <xs:sequence>
      <xs:element name="Cd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CashAccountSEPA1">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentificationSEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AccountIdentificationSEPA">
    <xs:sequence>
      <xs:element name="IBAN" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="BranchAndFinancialInstitutionIdentificationSEPA3">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentificationSEPA3"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FinancialInstitutionIdentificationSEPA3">
    <xs:sequence>
      <xs:element name="BIC" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DirectDebitTransactionInformationSDD">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentificationSEPA"/>
      <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmountSEPA"/>
      <xs:element name="DrctDbtTx" type="DirectDebitTransactionSDD"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentificationSEPA3"/>
      <xs:element name="Dbtr" type="PartyIdentificationSEPA2"/>
      <xs:element name="DbtrAcct" type="CashAccountSEPA2"/>
      <xs:element name="RmtInf" type="RemittanceInformationSEPA1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PaymentIdentificationSEPA">
    <xs:sequence>
      <xs:element name="EndToEndId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActiveOrHistoricCurrencyAndAmountSEPA">
    <xs:simpleContent>
      <xs:extension base="xs:decimal">
        <xs:attribute name="Ccy" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="DirectDebitTransactionSDD">
    <xs:sequence>
      <xs:element name="MndtRltdInf" type="MandateRelatedInformationSDD"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MandateRelatedInformationSDD">
    <xs:sequence>
      <xs:element name="MndtId" type="xs:string"/>
      <xs:element name="DtOfSgntr" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="PartyIdentificationSEPA2">
    <xs:sequence>
      <xs:element name="Nm" type="xs:string"/>
      <xs:element name="PstlAdr" type="PostalAddressSEPA" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CashAccountSEPA2">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentificationSEPA"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RemittanceInformationSEPA1Choice">
    <xs:sequence>
      <xs:element name="Ustrd" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
